<div class="card " style="max-width: 330px;min-width: 330px">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}"><img class="card-img-top" src="{{ instance.image.url }}" 
    	style="width:270px;height:260px; display:block; margin:auto;" alt="{{ instance.title}} logo"></a>
    {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ instance.title }}</h4>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-outline-secondary my-2">View</a>
    {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
  </div>
</div>